<div class="w-full flex justify-center py-6 text-white">
  <a class="flex items-center gap-2 cursor-pointer" href="/">
    <img src="/dev-scripts/twisted-logo.png" alt="devscripts logo twisted"  class="h-[50px]"/>
    <h2 class="text-3xl font-semibold">DevScripts</h2>
  </a>
</div>
